.Container
{
    padding: 1em;
}

.refreshButton
{
    margin-left: 2em;
}

.imagesContainer
{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    column-gap: 1em;
    margin-bottom: 2em;
}


.item
{
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.test
{
    width: 100%;
    max-height: 35em;
    border-radius: 4px;
    position: relative;
    z-index: -2;
}

.item_image
{
    border-radius: 4px;
}

.voteContainer
{
    width: max-content;
    margin: auto;

}
.voteImage
{
    margin-right: 2em;
    height: 125px;
    width: 125px;
}