.curtain
{
    top: 0;
    background-color: white;
    overflow: hidden;
    padding: 10em;

    opacity: 1;

    animation-duration: 1s;
    animation-name: curtain;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes curtain {
    from {
        top: 0;
        opacity: 1;

    }

    50% {
        opacity: 0;
    }

    to {
        top: -100%;
        opacity: 0;

    }
}

.curtain_contain
{
    margin: 0 auto;
}


.MonthCompetition_ill
{
    height: 25em;
}

.MonthCompetition_text
{
    font-family: Inter-Bold;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 1em;
}

.MonthCompetition_subtext
{
    color: #7a5995;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.MonthCompetition_button
{
    background: linear-gradient(90deg, rgba(166,226,236,1) 0%, rgba(194,158,233,1) 33%, rgba(235,144,173,1) 66%, rgba(233,133,142,1) 100%);
    color: white;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 2em;
    text-transform: uppercase;
    font-family: Inter-Bold;
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
}


.Container
{
    padding: 1em;
}

.titleContainer
{
    text-align: center;
    padding: 6em;
    position: relative;
}

.title
{
    font-family: Inter-Bold;
    font-size: 3em;
    text-transform: uppercase;
}

.subtitle
{
    color: #7a5995;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

/*IMAGES TITLE*/
.titleContainer_image1
{
    position: absolute;
    left: 14em;
    bottom: 5em;
    height: 3em;

    animation-duration: 4s;
    animation-name: image;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.titleContainer_image2
{
    position: absolute;
    left: 20em;
    height: 3em;
    top: 3em;

    animation-delay: 1.5s;
    animation-duration: 4s;
    animation-name: image;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.titleContainer_image3
{
    position: absolute;
    right: 12em;
    bottom: 8em;
    height: 3em;

    animation-delay: 1s;
    animation-duration: 4s;
    animation-name: image;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.titleContainer_image4
{
    position: absolute;
    right: 21em;
    bottom: 3em;
    height: 3em;
    z-index: -1;

    animation-delay: 2s;
    animation-duration: 4s;
    animation-name: image;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.titleContainer_image5
{
    position: absolute;
    right: 22em;
    top: 4em;
    height: 3em;
    z-index: -1;

    animation-delay: 2.5s;
    animation-duration: 4s;
    animation-name: image;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes image {
    from {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}










.refreshButton
{
    margin-left: 2em;
    margin-right: 2em;
}

.imagesContainer
{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    column-gap: 1em;
    margin-bottom: 2em;
}



.item {
    transition: 300ms;
    transition-delay: 0.3s;
}

.item:focus,
.item:hover {
    transform: scale(1.75);
    z-index: 10;

}

.item:hover .item_infos
{
    opacity: 1;
    display: block;
    transition: opacity 1s ease-out;
}


.item_image
{
    border-radius: 4px 4px 0px 0px;
    width: 16em;
}

.item_infos
{
    opacity: 0;
    display: none;
    height: 2em;
    width: 16em;
    z-index: 100;
    position: absolute;
    border-radius: 0px 0px 4px 4px;

    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255 255, 0.18 );
}



/*** VOTE ***/

.voteContainer
{
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 125px;*/
}
.voteImage
{
    margin-right: 2em;
    height: 125px;
    width: 125px;
}