@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-ExtraBold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Light";
  src: url("/fonts/Inter-ExtraLight.ttf");
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

.global-top
{
  margin-top: 7em;

}



/*FORM*/

.label
{
  color: rgb(92, 94, 98) !important;
  font-family: Inter;
  margin-left: 1em;
  font-size: 0.9em;
}

.input
{
  background-color: #f4f4f4 !important;
  color: black !important;
  border-radius: 10px !important;
  border: 1px solid #f4f4f4 !important;
  font-family: Inter;
}

.input:Hover
{
  border: 1px solid #cfc6c6 !important;
}

.input:Focus
{
  box-shadow: 3px 3px #cfc6c6 !important;
}

.button_form
{
  background-color: #007bff !important;
  border-radius: 10px !important;
  font-family: Inter;

  width: 20em;
  color: white !important;
}

.button_form:Hover
{
  background-color: #0461c8 !important;
}

.button_form:Focus
{
  box-shadow: unset !important;
}


.button_form_variant
{
  border-radius: 10px !important;
  font-family: Inter;
  background-color: transparent !important;

  border: 2px solid black !important;
  width: 20em;
  color: black !important;
}

.button_form_variant:Hover
{
  background-color: black !important;
  color: white !important;
}

.button_form_variant:Focus
{
  box-shadow: unset !important;
}