@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-ExtraBold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Light";
  src: url("/fonts/Inter-ExtraLight.ttf");
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

.global-top
{
  margin-top: 7em;

}

